
body{
margin: 0;
padding: 0;
background-color: black;
color: white;
}
header {
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik Puddles', cursive; 
    background-image: linear-gradient(150deg, red, black,grey, grey);
}
header h1 {
    font-size: 2rem;
}
/*
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Rubik Puddles', cursive;
font-family: 'Seaweed Script', cursive;
*/
nav {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 1%;
}
nav p a {
    color: black;
    font-size: 1.5rem;
}
.banner {
        width: 100%;
        height: 30vh;
}
main {
    padding: 5%;
    margin: 5%;

}
.row {
    display: flex;
    width: 100%;
}
.sidebar {
    width: 12%;
    margin-right: 3%;
}
.sidebar h2 {
    width: 100%;
    text-align: right;
    border-right: 2px solid white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
}
.content {
    width: 80%;
}
.content p {
    font-family: 'Seaweed Script', cursive;
    font-size: 2rem;
}
.container {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 500px 500px;
   /* grid-template-columns: 1fr 1fr; */
    grid-template-areas: "cube led-wall"
    "programming javascript";
}

#cube {
    grid-area: cube;
    background-image: url(./images/cube.jpg);
    
}
#led-wall {
    grid-area: led-wall;
    background-image: url(./images/LED-Wall-.webp);
}
#programming {
    grid-area: programming;
    background-image: url(./images/Man.jpg);
}
#javascript {
    grid-area: javascript;
    background-image: url(./images/java.jpg);
}

.containerArea {
    max-height: 210px;
    max-width: 420px;
    width: 600px;
    height: 170px;
    

}